* {
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

html, body {
    width: 100%;
    height: 100%;
}

#selction {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#minicircle {
    width: 10px;
    height: 10px;
    /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s; */
    transition:all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    border-radius: 50%;
    outline-color: gold;
}

#selection h1 {
    text-transform: uppercase;
    text-shadow: 2px 5px #2f3542; 
    word-spacing: 10px;
    margin: 10%;
    color: tomato;
    background-color: #888;
    padding: 22px;
    border: 1px solid;
    border-color: #2f3542;
    font-weight: 900;
    opacity: 20;
    flex-direction: column;
    padding-left: 10%;
    
}

.centerDiv {
    width: 80%;
    height: 60vh;
    border: 1px solid;
    border-color: tomato;
    margin-left: 10%;
}

.details {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
  

}

.details label{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: white;
    opacity: .8;
}

.details input {
    width: 200px;
    height: 20px;
    margin-left: 2% ;
    border-radius: 15%;
    background-color: #2f3542;
    color: white;
}

.imgdiv{
    display: flex;
    justify-content: center;
}

.imgdiv img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

#btn {
    padding: 10px;
    border-radius: 15%;
    margin-left:46% ;
    margin-top: 8%;
    color: white;
    background-color: #2f3542;
}




























